<header>
    <h1><a href="/home">Homepage</a></h1>
    <nav>
        <ul>
            <li><a href="/alltoys-json">ALL Toys(JSON)</a></li>
            <li><a href="/allcategories-json">ALL Categories(JSON)</a></li>
            <li><a href="/add-toy">Add Toy</a></li>
            <li><a href="/categoryForm">Add Category</a></li>
        </ul>
    </nav>
</header>