<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="hero">
            <h2>Welcome to Our Toy Store</h2>
            <p>Find the best toys for kids of all ages!</p>
        </section>
        <h2>Featured Categories</h2>
        <section class="info">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/51hE2I7YvJL._AC_.jpg" alt="All Toys">
                <h3>Girls Toys</h3>
                <p>Find exciting toys for Girls.</p>
                <a href="/girltoys" class="btn">Shop Now</a>
            </div>
            <div class="card">
                <img src="https://i5.walmartimages.com/seo/JitteryGit-Robot-STEM-Building-Toys-for-Boys-Christmas-Gifts-for-Kids-Ages-7-8-9-10-11-12-13-14_b316052f-7201-4704-a937-d6f454079c17.0f2d530c5f9214019ee309988ee3dba0.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="All Toys">
                <h3>Boys Toys</h3>
                <p>Find exciting toys for Boys.</p>
                <a href="/boytoys" class="btn">Shop Now</a>
            </div>
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/81O-OtqDxEL.jpg" alt="All Toys">
                <h3>For ALL</h3>
                <p>Find exciting toys for all Kids.</p>
                <a href="/alltoys" class="btn">Shop Now</a>
            </div>
            <div class="card">
                <img src="https://verbnow.com/wp-content/uploads/2021/05/1.different-types-toys-may20.jpg" alt="All Categories">
                <h3>ALL Categories</h3>
                <p>Find all Toy Categories.</p>
                <a href="/allcategories" class="btn">Shop Now</a>
            </div>
            <div class="card">
                <img src="https://cdn.thememylogin.com/uploads/edd/2019/03/favorites.png" alt="Favorites">
                <h3>Favorites</h3>
                <p>Find all Favorites.</p>
                <a href="/allfavorites" class="btn">Shop Now</a>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
