<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="hero">
            <h2>Welcome to Our Toy Store</h2>
            <p>Find the best toys for kids of all ages!</p>
        </section>
        <h2>Featured Categories</h2>
        <section class="info">
            <div class="card">
                <img src="https://i0.wp.com/siritoycollections.com/wp-content/uploads/2024/02/DALL%C2%B7E-2024-02-15-11.03.54-A-colorful-and-engaging-toy-set-for-3-year-olds.-The-image-includes-a-variety-of-toys-designed-to-stimulate-learning-and-creativity-in-young-children.webp?fit=1024%2C1024&ssl=1" alt="All Toys">
                <h3>ALL Toys</h3>
                <p>Find exciting toys for all Kids.</p>
                <a href="/alltoys" class="btn">Shop Now</a>
            </div>
            <div class="card">
                <img src="https://verbnow.com/wp-content/uploads/2021/05/1.different-types-toys-may20.jpg" alt="All Categories">
                <h3>ALL Categories</h3>
                <p>Find all Toy Categories.</p>
                <a href="/allcategories" class="btn">Shop Now</a>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
